<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="C:\source\repos\zoom.secrets.config">
    <add key="zoomsecret" value="#{zoomsecret}#"/>
    <add key="zoomkey" value="#{zoomkey}#"/>
    <add key="showcount" value="true"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
